body {
    margin: 0;
    font-family: 'Roboto';
}
h1,
h2,
h3 {
    margin: 0.5rem 0;
}
h1 {
    font-size: 1.5rem;
    color: #000000;
}
h2 {
    font-size: 1.2rem;
    color: #000000;
}
h3 {
    font-size: 1rem;
    color: #000000;
}
a {
    text-decoration: none;
}
.row {
    display: flex;
    justify-content: space-between;
}
.row.center {
    align-items: center;
}

.RoomDetailColumn {
    flex: 2;
}
.blockBehind {
    background-color: #4ea97e;
    padding: 2rem;
    margin: 0.5rem;
    border-radius: 0.3rem;
}
.blockBehindOrderSummary {
    background-color: #cce0d5;
    padding: 2rem;
    margin: 0.5rem;
    border-radius: 0.3rem;
    width: 50%;
}
.text-right {
    text-align: right;
}
img.size {
    max-height: 9rem;
}
button {
    font-size: 0.8rem;
    padding: 0.2rem;
    margin: 0.1rem;
    border-radius: 0.3rem;
    border: 0.15rem solid;
    background-color: #ffffff;
    width: 45%;
    cursor: pointer;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}