/**
 * Author: Sammy Chauhan (S191181)
 **/

.header {
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    font-size: 30px;
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:hover {
    color: black;
}

.body {
    background-color: grey;
}

.body ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.body li {
    background-color: #1abc9c;
}

.body li a {
    float: left;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.body li a:hover {
    background-color: #111;
}

.body-login {
    float: right;
    /*background-color: #1abc9c;*/
}