body {
  margin: 0;
  font-family: 'Roboto';
}
h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
  color: #000000;
}
h2 {
  font-size: 1.2rem;
  color: #000000;
}
h3 {
  font-size: 1rem;
  color: #000000;
}
a {
  text-decoration: none;
}
.row {
  display: flex;
  justify-content: space-between;
}
.row.center {
  align-items: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}